In [5]:
import pandas as pd

In [22]:
import sqlite3

# Create a new SQLite database (or connect to an existing one)
conn = sqlite3.connect("Digital_Marketing.sqlite")

print("Database created/opened successfully!")

conn.close()

Database created/opened successfully!

In [26]:
import sqlite3

# 1. Connect to database (creates file if it doesn’t exist)
conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE IF NOT EXISTS raw_users (
    user_id TEXT PRIMARY KEY,
    user_gender TEXT,
    user_age INTEGER,
    age_group TEXT,
    country TEXT,
    location TEXT,
    interests TEXT,
    _ingested_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
            """)

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [27]:
# 1. Connect to database (creates file if it doesn’t exist)
conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE raw_campaigns (
  campaign_id INTEGER PRIMARY KEY,
  name TEXT,
  start_date TEXT,
  end_date TEXT,
  duration_days INTEGER,
  total_budget REAL,
  _ingested_at TEXT DEFAULT CURRENT_TIMESTAMP
);
            """)

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [28]:
# 1. Connect to database (creates file if it doesn’t exist)
conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE raw_ads (
  ad_id INTEGER PRIMARY KEY,
  campaign_id INTEGER,
  ad_platform TEXT,
  ad_type TEXT,
  target_gender TEXT,
  target_age_group TEXT,
  target_interests TEXT,
  _ingested_at TEXT DEFAULT CURRENT_TIMESTAMP
);
            """)

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [31]:
# 1. Connect to database (creates file if it doesn’t exist)
conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE IF NOT EXISTS raw_ad_events (
    event_id TEXT PRIMARY KEY,
    ad_id INTEGER,
    user_id TEXT,
    timestamp TEXT,
    day_of_week TEXT,
    time_of_day TEXT,
    event_type TEXT,
    _ingested_at TEXT DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (ad_id) REFERENCES ads(ad_id),
    FOREIGN KEY (user_id) REFERENCES users(user_id)
);
""")


# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [35]:
import pandas as pd

# Load CSV
df_users = pd.read_csv("users.csv")

# Check for duplicates in 'user_id'
duplicate_user_ids = df_users[df_users.duplicated(subset='user_id', keep=False)]

# Show number of duplicates
print("Number of duplicate user_ids:", duplicate_user_ids.shape[0])

# Display duplicate rows
print(duplicate_user_ids)

Number of duplicate user_ids: 100
     user_id user_gender  user_age age_group         country  \
15     7332b      Female        20     18-24          France
72     2cff5      Female        16     16-17   United States
131    bf4c0        Male        36     35-44           Japan
263    ce3fc      Female        28     25-34   United States
316    94f30      Female        26     25-34           India
...      ...         ...       ...       ...             ...
9518   61037      Female        36     35-44  United Kingdom
9626   adc26      Female        27     25-34       Australia
9682   a74fe      Female        29     25-34   United States
9799   5bdf4        Male        38     35-44   United States
9850   0b8c2        Male        27     25-34   United States

               location                    interests
15      East Sierrafort      news, lifestyle, travel
72    East Jessicamouth  travel, fitness, technology
131    Port Caitlinland   fitness, lifestyle, gaming
263          West Jason                       health
316          Younghaven       photography, lifestyle
...                 ...                          ...
9518   Port Stevenville               gaming, health
9626        Watsonburgh                 gaming, news
9682        Mendozaview  fitness, lifestyle, finance
9799          Nancyport                 news, sports
9850         Harrisland           technology, sports

[100 rows x 7 columns]

In [36]:

# Find duplicate rows
duplicate_rows = df_users[df_users.duplicated(keep=False)]

# Show number of duplicate rows
print("Number of duplicate rows:", duplicate_rows.shape[0])

# Display duplicate rows
print(duplicate_rows)

Number of duplicate rows: 0
Empty DataFrame
Columns: [user_id, user_gender, user_age, age_group, country, location, interests]
Index: []

In [ ]:
import pandas as pd
df = pd.read_csv("users.csv")

# drop duplicate user_ids
df = df.drop_duplicates(subset="user_id")

import sqlite3
conn = sqlite3.connect("Digital_Marketing.sqlite")

df.to_sql("raw_users", conn, if_exists="append", index=False)
conn.close()

In [38]:
import pandas as pd
df = pd.read_csv("campaigns.csv")

# drop duplicate user_ids
# df = df.drop_duplicates(subset="user_id")

import sqlite3
conn = sqlite3.connect("Digital_Marketing.sqlite")

df.to_sql("raw_campaigns", conn, if_exists="append", index=False)
conn.close()

In [39]:
import pandas as pd
df = pd.read_csv("ads.csv")

# drop duplicate user_ids
# df = df.drop_duplicates(subset="user_id")

import sqlite3
conn = sqlite3.connect("Digital_Marketing.sqlite")

df.to_sql("raw_ads", conn, if_exists="append", index=False)
conn.close()

In [40]:
import pandas as pd
df = pd.read_csv("ad_events.csv")

# drop duplicate user_ids
# df = df.drop_duplicates(subset="user_id")

import sqlite3
conn = sqlite3.connect("Digital_Marketing.sqlite")

df.to_sql("raw_ad_events", conn, if_exists="append", index=False)
conn.close()

In [44]:
#Splitting interests into multiple rows

import pandas as pd

# Load users
df = pd.read_csv("users.csv")

# Split interests into lists
df['interests'] = df['interests'].str.split(', ')

# Explode into multiple rows
df_exploded = df.explode('interests')

# Reset index
df_exploded = df_exploded.reset_index(drop=True)

# Save to CSV
df_exploded.to_csv("users_interests.csv", index=False)

print(df_exploded.head())

  user_id user_gender  user_age age_group         country        location  \
0   a2474      Female        24     18-24  United Kingdom  New Mariomouth
1   a2474      Female        24     18-24  United Kingdom  New Mariomouth
2   141e5        Male        21     18-24         Germany     Danielsfort
3   141e5        Male        21     18-24         Germany     Danielsfort
4   141e5        Male        21     18-24         Germany     Danielsfort

   interests
0    fitness
1     health
2       food
3    fitness
4  lifestyle

In [45]:
#Splitting interests into multiple rows

import pandas as pd

# Load users
df = pd.read_csv("ads.csv")

# Split interests into lists
df['target_interests'] = df['target_interests'].str.split(', ')

# Explode into multiple rows
df_exploded = df.explode('target_interests')

# Reset index
df_exploded = df_exploded.reset_index(drop=True)

# Save to CSV
df_exploded.to_csv("target_interests.csv", index=False)

print(df_exploded.head())

   ad_id  campaign_id ad_platform   ad_type target_gender target_age_group  \
0      1           28    Facebook     Video        Female            35-44
1      1           28    Facebook     Video        Female            35-44
2      2           33    Facebook   Stories           All            25-34
3      2           33    Facebook   Stories           All            25-34
4      3           20   Instagram  Carousel           All            25-34

  target_interests
0              art
1       technology
2           travel
3      photography
4       technology

In [3]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE dim_users AS
SELECT
    user_id,
    TRIM(LOWER(user_gender)) AS user_gender,
    user_age,
    age_group,
    TRIM(country) AS country,
    TRIM(location) AS location,
    LOWER(interests) AS interests
FROM raw_users;
""")


# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [4]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE dim_campaigns AS
SELECT
    campaign_id,
    name,
    DATE(start_date) AS start_date,
    DATE(end_date)   AS end_date,
    CAST(duration_days AS INTEGER) AS duration_days,
    CAST(total_budget AS REAL) AS total_budget
FROM raw_campaigns;
""")


# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [5]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE dim_ads AS
SELECT
    ad_id,
    campaign_id,
    TRIM(ad_platform) AS ad_platform,
    TRIM(ad_type) AS ad_type,
    LOWER(target_gender) AS target_gender,
    target_age_group,
    LOWER(target_interests) AS target_interests
FROM raw_ads;
""")


# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [6]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Write CREATE TABLE statement
cur.execute("""
CREATE TABLE fact_ad_events AS
SELECT
    event_id,
    ad_id,
    user_id,
    DATETIME(timestamp) AS event_time,
    STRFTIME('%w', timestamp) AS day_of_week,  -- 0=Sunday … 6=Saturday
    STRFTIME('%H', timestamp) AS time_of_day,  -- 00-23
    event_type,
    _ingested_at
FROM raw_ad_events;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [ ]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. ad_event_details view
cur.execute("""
CREATE VIEW vw_ad_event_details AS
SELECT
    e.event_id,
    e.user_id,
    e.event_time,
    e.day_of_week,
    e.time_of_day,
    e.event_type,
    a.ad_id,
    a.campaign_id,
    a.ad_platform,
    a.ad_type,
    a.target_gender,
    a.target_age_group,
    c.name AS campaign_name,
    c.start_date,
    c.end_date,
    c.total_budget,
    u.user_gender,
    u.user_age,
    u.age_group,
    u.country,
    u.location,
    u.interests
FROM fact_ad_events e
JOIN dim_ads a ON e.ad_id = a.ad_id
JOIN dim_campaigns c ON a.campaign_id = c.campaign_id
JOIN dim_users u ON e.user_id = u.user_id;

""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table View created successfully!")

Table View created successfully!

In [8]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Impressions View
cur.execute("""
CREATE VIEW metric_impressions AS
SELECT COUNT(*) AS total_impressions FROM fact_ad_events WHERE event_type='Impression';
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [9]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Clicks View
cur.execute("""
CREATE VIEW metric_clicks AS
SELECT COUNT(*) AS total_clicks FROM fact_ad_events WHERE event_type='Click';
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [10]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Distinct Users View
cur.execute("""
CREATE VIEW metric_users AS
SELECT COUNT(DISTINCT user_id) AS active_users FROM fact_ad_events;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

In [11]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Events by Type View
cur.execute("""
CREATE VIEW metric_events_by_type AS
SELECT event_type, COUNT(*) AS cnt
FROM fact_ad_events
GROUP BY event_type;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Users table created successfully!")

Users table created successfully!

Revenue Allocation Models

In [ ]:
# CPM (Cost per 1,000 Impressions)

# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Total Impressions per Campaign

cur.execute("""
CREATE VIEW campaign_impressions AS
SELECT
    a.campaign_id,
    COUNT(*) AS total_impressions
FROM fact_ad_events e
JOIN dim_ads a ON e.ad_id = a.ad_id
WHERE e.event_type='Impression'
GROUP BY a.campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [13]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Revenue per Impression

cur.execute("""
CREATE VIEW revenue_per_impression AS
SELECT
    c.campaign_id,
    c.total_budget / NULLIF(ci.total_impressions,0) AS rev_per_impression
FROM dim_campaigns c
LEFT JOIN campaign_impressions ci ON c.campaign_id=ci.campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [14]:
# CPC (Cost per Click)

# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Total Clicks per Campaign

cur.execute("""
CREATE VIEW campaign_clicks AS
SELECT
    a.campaign_id,
    COUNT(*) AS total_clicks
FROM fact_ad_events e
JOIN dim_ads a ON e.ad_id = a.ad_id
WHERE e.event_type='Click'
GROUP BY a.campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [15]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Revenue per Campaign

cur.execute("""
CREATE VIEW revenue_per_click AS
SELECT
    c.campaign_id,
    c.total_budget / NULLIF(cc.total_clicks,0) AS rev_per_click
FROM dim_campaigns c
LEFT JOIN campaign_clicks cc ON c.campaign_id=cc.campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

Hybrid Revenue Allocation (70% budget on Clicks, 30% on Impressions)

In [16]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Hybrid Revenue Allocation (70% budget on Clicks, 30% on Impressions)

cur.execute("""
CREATE VIEW hybrid_revenue AS
SELECT
    c.campaign_id,
    (0.3 * c.total_budget / NULLIF(ci.total_impressions,0)) AS rev_per_impression,
    (0.7 * c.total_budget / NULLIF(cc.total_clicks,0)) AS rev_per_click
FROM dim_campaigns c
LEFT JOIN campaign_impressions ci ON c.campaign_id = ci.campaign_id
LEFT JOIN campaign_clicks cc ON c.campaign_id = cc.campaign_id;

""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

Assigning Revenue at Event Level

In [17]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Assigning Revenue at Event Level

cur.execute("""
CREATE VIEW event_revenue AS
SELECT
    e.event_id,
    e.user_id,
    e.event_type,
    e.event_time,
    e.ad_id,
    a.campaign_id,
    CASE 
        WHEN e.event_type='Impression' THEN h.rev_per_impression
        WHEN e.event_type='Click' THEN h.rev_per_click
        ELSE 0
    END AS revenue
FROM fact_ad_events e
JOIN dim_ads a ON e.ad_id=a.ad_id
JOIN hybrid_revenue h ON a.campaign_id=h.campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [18]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Total Revenue

cur.execute("""
CREATE VIEW metric_total_revenue AS
SELECT SUM(revenue) AS total_revenue FROM event_revenue;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [19]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Revenue by Campaign

cur.execute("""
CREATE VIEW metric_revenue_by_campaign AS
SELECT campaign_id, SUM(revenue) AS campaign_revenue
FROM event_revenue
GROUP BY campaign_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [20]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Revenue by User

cur.execute("""
CREATE VIEW metric_revenue_by_user AS
SELECT user_id, SUM(revenue) AS user_revenue
FROM event_revenue
GROUP BY user_id;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!

In [21]:
# 1. Connect to database (creates file if it doesn’t exist)
import sqlite3

conn = sqlite3.connect("Digital_Marketing.sqlite")

# 2. Create a cursor
cur = conn.cursor()

# 3. Revenue by Platform

cur.execute("""
CREATE VIEW metric_revenue_by_platform AS
SELECT a.ad_platform, SUM(e.revenue) AS platform_revenue
FROM event_revenue e
JOIN dim_ads a ON e.ad_id=a.ad_id
GROUP BY a.ad_platform;
""")

# 4. Commit & close
conn.commit()
conn.close()

print("Table view created successfully!")

Table view created successfully!